$padWidth: 100px;
$padHeight: 80px;

@import url('https://fonts.googleapis.com/css?family=Russo+One');


body {
  font-family: "Russo One", Arial, serif;
  user-select: none;
  background-image: url('https://cdn.pixabay.com/photo/2013/11/03/08/05/cheers-204742_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 60vh;
  margin-top: 100px;
}

.inner-container {
  outline: 3px solid #660033;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #ffccff;
  .pad-bank {
    width: $padWidth * 3 + 32;
    height: $padHeight * 3 + 32;
    display: inline-block;
    margin: 20px;
    .drum-pad {
      position: relative;
      float: left;
      width: $padWidth;
      height: $padHeight;
      margin-right: 10px;
      border-radius: 5px;
      padding-top: 35px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 10px;
      .inner-logo {
        display: inline-block;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
      }
    }
  .controls-container {
    width: 220px;
    height: $padHeight + 10;
    margin: 10px 20px;
     .control {
      width: 70px;
      margin: 0;

      p {
        text-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;

      }
      .select {
      @extend .outer-select;
       }
    }

  }
}
    #display {
      background-color: #161616;
      margin: 20px 30px;
      padding: 15px;
      box-sizing: border-box;
      color: #ff0066;
      font-size: 22px;
    }
.outer-select {
  
  margin: 10px;
  border: 1px solid magenta;
  width: 50px;
  height: 50px;
  padding: 1px;
  background-color: black;
  border-radius: 50%;
}

.inner-select {
  width: 25px;
  height: 25px;
  background: darkgray;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}
.volumeControls {
  position: relative;
  width: 140px;
  height: 92px;
  top: -105px;
  left: 75px;

  button {
  width: 40%;
  height: 45%;
  border-radius: 15%;
  margin: 10px 5px;
  border: 5px solid magenta;
  border-style: inset;
  font-size: 20px;
  font-weight: bold;
  color: darken(silver, 5%);
  background-color: black;
  cursor: pointer;
}

  p {
    text-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;

  }
}



.powerButton {
  height: 35px;
  width: 35px;
  background-image: radial-gradient(#cc0066 20%, black 70%);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 7px;
  top: 6px;
}


@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}